<h1>Aaargh! Here be your Pirate!</h1>
  <div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Weight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
  </div>

<h2>Yer carriage Sir</h2>
  <% @ships.each_with_index do |ship, i| %>
    <div class="ship">
      <% if i == 0 %>
      <p>Ship: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
      <% end %>
    </div>
  <% end %>

<h2>Your other whip Cap'n'</h2>
  <% @ships.each_with_index do |ship, j| %>
    <div class="ship">
    <% if j == 1 %>
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
      <% end %>
    </div>
  <% end %>



